<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/sideBarCSS.css}"
	href="../../static/css/sideBarCSS.css" />
<link rel="stylesheet" th:href="@{/css/cssTemplate.css}"
	href="../../static/css/cssTemplate.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
<section>
	<div>
		<img class = "logo" src="../../resources/static/images/logo.png" th:src="@{images/logo.png}"/>
	</div> 
</section>
	<nav>
		<br>
		<div>		
			<button class="accordion btn btn-primary" type="button">Adauga</button>
			<div class="panel">
				<a class="subMenu subMenuHover" href="/foodView"
					th:href="@{/foodView}">Mancare</a><br> <a
					class="subMenu subMenuHover" href="/categoryView"
					th:href="@{/categoryView}">Categorie</a><br> <a
					class="subMenu subMenuHover" href="/menuView"
					th:href="@{/menuView}">Meniu </a><br>
			</div>
		</div>
		<br>
		<div>
			<button class="accordion btn btn-primary" type="button">Meniu</button>
			<div class="panel">
				<a class="subMenu subMenuHover" href="/viewMenuView"
					th:href="@{/viewMenuView}" target="_blank"> Vizualizeaza meniu</a>
				<a class="subMenu subMenuHover" href="/editMenuView"
					th:href="@{/editMenuView}" target="_blank"> Editeaza meniu </a>
			</div>
		</div>
		<br>
		<div>
			<button class="accordion btn btn-primary" type="button">Contact</button>
			<div class="panel">
				<a class="subMenu subMenuHover"
					href="https://cvc007.sharepoint.com/sites/DJ00001/Documente%20si%20formulare/Forms/Documents.aspx"
					target="_blank"> Silviu Sabau </a> <br> <a
					class="subMenu subMenuHover"
					href="https://cvc007.sharepoint.com/sites/DJ00001/SitePages/Lista%20Angajati.aspx"
					target="_blank"> Vaja Alexandru </a> <br>

			</div>
		</div>
		<br>
		<div>
			<button class="accordion btn btn-primary" type="button">Rapoarte</button>
			<div class="panel">

				<a class="subMenu subMenuHover"
					href="/insertView.html"
					th:href="@{/insertView}">
				    Raport Marius </a>
				    
				<a class="subMenu subMenuHover"
					href="/nextDayReportView.html"
					th:href="@{/nextDayReportView}">
					Raport ziua urmatoare </a> <br>

				<a class="subMenu subMenuHover"
					href="/nextDayReportView.html"
					th:href="@{/nextDayReportView}">
				    Raport saptamana urmatoare </a>
				    
			</div>
		</div> 
	</nav>

	<script>
		var acc = document.getElementsByClassName("accordion");
		var i;

		for (i = 0; i < acc.length; i++) {
			acc[i].addEventListener("click", function() {
				this.classList.toggle("active");
				var panel = this.nextElementSibling;
				if (panel.style.maxHeight) {
					panel.style.maxHeight = null;
				} else {
					panel.style.maxHeight = panel.scrollHeight + "px";
				}
			});
		}
	</script>
	<th:block th:include="layout/bootstrapIncludes.html"></th:block>
</body>